.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.schedule{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 700px;
  width: 500px;
}

.days-row{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500px;
}

.day{
  position: relative;
  padding-right: 20px;
  padding-bottom: 12px;
  color: #bababa;
  width: 200px;
}

.tasks-row{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 500px;
}

.task{
  position: relative;
  padding-right: 20px;
  color: rgb(255, 188, 111);
  width: 200px;
}